[submodule "mods/heads"]
	path = mods/heads
	url = https://github.com/HybridDog/heads.git
[submodule "mods/mobs"]
	path = mods/mobs
	url = https://github.com/tenplus1/mobs.git
[submodule "mods/3d_armor"]
	path = mods/3d_armor
	url = https://github.com/stujones11/minetest-3d_armor.git
[submodule "mods/protector"]
	path = mods/protector
	url = https://github.com/tenplus1/protector.git
[submodule "mods/hunger"]
	path = mods/hunger
	url = https://github.com/BlockMen/hunger.git
[submodule "mods/hud"]
	path = mods/hud
	url = https://github.com/BlockMen/hud.git
[submodule "mods/potions"]
	path = mods/potions
	url = https://github.com/HybridDog/minetest-potions.git
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = https://github.com/minetest-technic/unified_inventory.git
[submodule "mods/dungeon_loot"]
	path = mods/dungeon_loot
	url = https://github.com/BlockMen/dungeon_loot.git
